@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add Event</h1>
<form method="post">
    <p>
        <label>
            Event Name:
            <input type="text" name="name" placeholder="event name" />
        </label>
    </p>

    <p>
        <label>
            Event Description:
            <input type="text" name="description" placeholder="event description" />
        </label>
    </p>

    <p>
        <input type="submit" value="Add Event" />
    </p>
</form>

